*{
  /*-fx-border-color: black; -fx-border-width: px;*/
}

.transparent-background{
  -fx-background-color: transparent
}

/*.button {*/
/*  !*-fx-background-color: #2196F3;*!*/
/*  !*-fx-text-fill: white;*!*/
/*  !*-fx-padding: 10 20;*!*/
/*  !*-fx-border-radius: 5; !* 圆角 *!*!*/
/*  !*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 1); !* 阴影效果 *!*!*/
/*}*/

/*.button:hover {*/
/*  -fx-background-color: #1565C0; !* 鼠标悬停时的背景颜色 *!*/
/*}*/

/*.button:pressed {*/
/*  -fx-background-color: #0D47A1; !* 按下时的背景颜色 *!*/
/*}*/

.flat-button {
  /*-fx-background-color: transparent;*/
  /*-fx-background-insets: 0, 0, 1, 2;*/
  /*-fx-background-radius: 0, 0, 0, 0;*/
  /*-fx-border-color: transparent;*/
  /*-fx-padding: 0.416667em 0.833333em 0.416667em 0.833333em; !* 根据需要调整边距 *!*/
}

.radio-button:selected .radio .dot {
  -fx-background-color: red;
  -fx-background-insets: 0;
}

.circular-button {
  -fx-pref-width: 1px;
  -fx-pref-height: 1px;
  -fx-background-color: transparent; /* 设置背景为透明 */
  -fx-padding: 0; /* 设置内边距为0，以确保圆形按钮充满按钮区域 */
}

circular-button:hover .circle {
  -fx-fill: RED;
}

.circular-button:hover .icon-label {
  /* 设置悬停时的文本和图标 */
  -fx-text-fill: #646464;
  -fx-font-size: 14;
  -fx-font-weight: bold;
  -fx-padding: 5;
}
