.custom-switch {
    -fx-background-color: #d4d4d4;
    -fx-background-radius: 25;
    -fx-min-width: 50;
    -fx-min-height: 25;
    -fx-max-width: 50;
    -fx-max-height: 25;
}

.custom-switch:selected {
    -fx-background-color: #4cd964;
}